#root {
    width: 1024px;
    margin: 20px auto;
}
#root img {
    width: 100%;
}
#root .header_title h1 {
    font-size: 30px;
    color: #5a1f06;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
#root form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 40px;
    border: 1px solid #ccc;
}
#root label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}
#root label div {
    width: calc(1/2*100% - (1 - 1/2)*10px);
}
#root label div input {
    width: 100%;
}
#root label p {
    margin: 0;
}
.form-submit {
    text-align: center;
}
#root form input[type="submit"] {
    width: 20%;
    font-family: AllTogetherSerif, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 999rem;
    padding: 1rem 2rem;
    -webkit-box-align: center;
    align-items: center;
    background: #ffd200;
    border: none;
    color: rgb(90, 31, 6);
    cursor: pointer;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 0;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
#root .banner {
    background-color: #ffd200;
    margin-bottom: 20px;
}